/* Connection Padding */
.connection-padding {
    padding: 0;
}

/* Connection Icon List */
.connection-icon-list {
    display: inline-block;
    margin: 5px;
    padding: 0;
}

/* Connection Icon */
.connection-icon {
    height: 65px;
}
