/* Website Root */
:root {
    /* Website */
    --website-background: rgb(10, 15, 25);
    --website-bright: rgb(15, 20, 30);
    --website-dark: rgb(10, 15, 25);

    /* Text */
    --text-footer: rgb(235, 235, 235);

    /* Preloader */
    --preloader-background: rgb(10, 15, 25);
    --preloader-color: rgb(30, 144, 255);

    /* Scrollbar */
    --scrollbar-track: rgb(255, 255, 255);
    --scrollbar-thumb: rgb(155, 155, 155);
    --scrollbar-hover: rgb(85, 85, 85);
}

/* HTML */
html {
    scroll-behavior: smooth;
}

/* Body */
body {
    background-color: var(--website-background);
    font-family: "IBM Plex Sans Condensed";
    overflow: auto;
    margin: 0;
    padding: 0;
}
