/* COLORS */

:root{
    --website-light: rgb(30, 30, 40);
    --website-medium: rgb(20, 20, 30);
    --website-dark: rgb(15, 15, 25);

    --preloader-background: rgb(15, 15, 25);
    --preloader-color: rgb(255, 100, 5);

    --scrollbar-track: rgb(255, 255, 255);
    --scrollbar-thumb: rgb(155, 155, 155);
    --scrollbar-hover: rgb(85, 85, 85);

    --thematic-break: rgb(255, 255, 255);

    --text-background: rgb(235, 235, 235);
    --text-hover: rgb(255, 100, 5);
}

/* FORMATTING */

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--website-dark);
    font-family: "IBM Plex Sans Condensed";
    color: var(--text-background);
    overflow: auto;
    margin: 0;
    padding: 0;
}

/* PRELOADER */

.preloader-container{
    width: 100%;
    height: 100vh;
    background-color: var(--preloader-background);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preloader{
    width: 50px;
    height: 50px;
    border: 5px solid;
    color: var(--preloader-color);
    border-radius: 50%;
    border-top-color: transparent;
    animation: preloader 1.25s linear infinite;
}

@keyframes preloader{
    25%{
        color: var(--preloader-color);
    }
    50%{
        color: var(--preloader-color);
    }
    75%{
        color: var(--preloader-color);
    }
    to{
        transform: rotate(360deg);
    }
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-hover);
}

.scroll-top {
    display: none;
    position: fixed;
    cursor: pointer;
    bottom: 1rem;
    right: 1rem;
    font-size: 3.5vw;
    color: var(--text-background);
}

.scroll-top:hover {
    color: var(--text-hover);
    transition: 0.3s;
}

/* THEMATIC BREAK */

.thematic-break {
    display: block;
    height: 3px;
    border: 0;
    border-top: 3px solid var(--thematic-break);
    margin: 2em 0;
    padding: 0;
}

/* SECTIONS */

#header-section {
    background-image: url("../images/header.png");
    background-size: cover;
    background-color: var(--website-dark);
    box-shadow: inset 0px 0px 25px 0px var(--website-dark);
    padding-bottom: 25px;
}

#body-section {
    background-color: var(--website-medium);
    padding-top: 25px;
    padding-bottom: 25px;
}

#footer-section {
    background-color: var(--website-dark);
    padding-top: 25px;
    padding-bottom: 25px;
}

/* HEADER */

.header-container {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 15px;
}

.text-title-main {
    color: var(--text-background);
    font-size: 5vw;
}

.navigation-header {
    background-color: var(--website-dark);
	padding-top: .5em;
	padding-bottom: .5em;
}

ul {
  list-style: none;
}

.navigation-a {
	text-decoration: none;
}

.navigation-left {
    padding: 15px 15px;
    text-align: center;
}

.navigation-logo {
    text-align: center;
    width: 65px;
    height: 65px;
}

.navigation-main a {
    color: var(--text-background);
    margin-right: 50px;
    padding: 15px 15px;
    text-align: center;
    list-style: none;
    display: block;
    font-size: 1.75vw;
	transition: 0.3s;
}

.navigation-main a:hover {
	color: var(--text-hover);
}

@media (min-width: 768px) {
	.navigation-header,
	.navigation-main {
		display: flex;
	}
	.navigation-header {
		flex-direction: column;
		align-items: center;
    	.navigation-header {
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}
}

@media (min-width: 1025px) {
	.navigation-header {
		flex-direction: row;
		justify-content: space-between;
	}
}

/* BODY */

.body-container {
    text-align: center;
    color: var(--text-background);
    font-size: 15px;
    margin: auto;
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.flexbox-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexbox-column {
    flex: 50%;
    padding: 5px;
}

.text-title {
    color: var(--text-background);
    font-size: 3vw;
}

.circle-logo {
    max-width: 100%;
    height: auto;
}

.example-picture {
    max-width: 100%;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: transform 0.25s ease;
}

.example-picture:hover {
    transform: scale(1.5);
}

.youtube-embed {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: transform 0.25s ease;
}

.youtube-embed:hover {
    transform: scale(1.5);
}

.youtube-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.google-docs-embed {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.google-docs-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

a:link {
    color: var(--text-background);
}

a:visited {
    color: var(--text-background);
}

a:hover {
    color: var(--text-hover);
}

a:active {
    color: var(--text-hover);
}

/* BODY - PROGRAMS */

.programs-title-text {
    color: var(--text-background);
    font-size: 3.5vw;
}

.program-base {
    background: var(--website-dark);
    padding-top: 10px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.program-card {
    background: var(--website-medium);
    margin: 10px;
}

.program-info {
    padding: 10px;
}

.program-icon {
    vertical-align: middle;
    padding-right: 20px;
    max-width: 10%;
    height: auto;
}

.program-title {
    vertical-align: middle;
    font-size: 2.5vw;
}

.program-description {
    background: var(--website-light);
    padding: 10px;
}

.program-disclaimer {
    padding: 5px;
}

/* FOOTER */

.footer-container {
    text-align: center;
    color: var(--text-background);
    font-size: 1.75vw;
    margin: auto;
    width: 50%;
    padding: 15px;
}

.footer-padding {
    padding: 0;
}

.footer-icon-list {
    display: inline-block;
    margin: 5px;
    padding: 0;
}

.footer-icon {
    max-width: 20%;
    height: auto;
    padding: 10px;
}
