/* Navigation Header */
.navigation-header {
    background-color: var(--website-dark);
	padding-top: .5em;
	padding-bottom: .5em;
}

/* UL */
ul {
  list-style: none;
}

/* Navigation A */
.navigation-a {
	text-decoration: none;
}

/* Navigation Left */
.navigation-left {
    padding: 15px 15px;
    text-align: center;
}

/* Navigation Logo */
.navigation-logo {
    text-align: center;
    height: 65px;
}

/* Navigation Main */
.navigation-main a {
    color: var(--text-navigation-main);
    margin-right: 50px;
    padding: 15px 15px;
    text-align: center;
    list-style: none;
    display: block;
    font-size: 1vw;
    font-weight: 500;
	transition: 0.3s;
}

/* Navigation Main Hover */
.navigation-main a:hover {
	color: var(--text-navigation-hover);
    font-weight: 550;
}

/* Media Small */
@media (min-width: 768px) {
	.navigation-header,
	.navigation-main {
		display: flex;
	}
	.navigation-header {
		flex-direction: column;
		align-items: center;
    	.navigation-header {
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}
}

/* Media Wide */
@media (min-width: 1025px) {
	.navigation-header {
		flex-direction: row;
		justify-content: space-between;
	}
}
